.card-down{
  display: flex;
  gap: 12px;
  justify-content: center;
  .day{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    img{
      width: 64px;
      height: 64px;
      margin: 16px 13px;
    }
    h2{
      font-size: 14px;
      color: hsla(244, 66%, 91%, 1);
    }
    div{
      display: flex;
      gap: 4px;
      font-size: 16px;
      font-weight: 700;

      h4{
        color: hsla(244, 66%, 91%, 1);
      }
      span{
        color: hsla(243, 71%, 85%, 1);
      }
    }
  }
}