.card-top2{

  header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 32px;
    
    
    h1{
      font-size: 16px;
      color: hsla(244, 66%, 91%, 1);
    }
  }
  section{
    margin-top: 24px;
    display: flex;
    margin-left: 32px;

    .fill{
      position: absolute;
      width: 159px;
      height: 106px;
    }
    h3{
      position: absolute;
      margin-left: 85px;
      margin-top: 54px;
      font-size: 14px;
      font-weight: 700;
      color: hsla(0, 0%, 100%, 1);
    }
  }
  footer{
    display: flex;
    justify-content: center;
    gap: 180px;
    font-size: 14px;
    color: hsla(0, 0%, 100%, 1);
    margin-top: 18px;
  }
}