*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.App{
  background-image: url('./assets/bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh; 
  
  display: flex;
  justify-content: center;
  align-items: center;

  display: grid;
  grid-template-areas:
    "main top1 top2" 
    "main down down" 
  ;
  

  .card-main{
    background-image: url('./assets/bgCardMain.svg');
    width: 480px;
    height: 480px;
    grid-area: main;
    margin-right: 32px;
    border-radius: 15px;
  }
  .card-down{
    background-color: #6D67D0;
    width: 578px;
    height: 212px;
    grid-area: down;
    margin-top: -350px;
    border-radius: 15px;
  }
  .card-top1{
    background-color: #6D67D0;
    width: 277px;
    height: 244px;
    grid-area: top1;
    margin-top: 69px ;
    border-radius: 15px;
  }
  .card-top2{
    background-color:  #6D67D0;  
    width: 277px;
    height: 244px;  
    grid-area: top2;
    margin-top: 69px ;
    margin-left: 24px;
    border-radius: 15px;
  }
}